<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Дебетовые карты</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/styles/cards.css" th:href="@{/styles/cards.css}" rel="stylesheet" />
    <link href="/static/styles/navbar.css" th:href="@{/styles/navbar.css}" rel="stylesheet" />
</head>
<body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<div>
    <div th:insert="navbar :: navbar"></div>
</div>
<section id="about-page">
<div class="container3">

    </div>
    <div id="products" class="row grid-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/vtb.jpg" alt="1"/>
                <div class="caption">
                   <h1 class="group inner grid-group-item-heading"><b>Дебетовая карта ВТБ</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 3000р, Кешбек 5% на все покупки, бесплатное обслуживание
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="knoparik" >
                                <p class="lead">Бонус 3000р</p>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/alfaKarta.png" alt="2" />
                <div class="caption">
                    <h1 class="group inner grid-group-item-heading"><b>Дебетовая Альфа Карта</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 2500р, кешбек 7% на продукты, кешбек 10% на одежду
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="knoparik" >
                            <p class="lead">
                                Бонус 2500р</p>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/ubrir.jpg" alt="3" />
                <div class="caption">
                    <h1 class="group inner grid-group-item-heading"><b>Дебетовая карта УБРиР</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 2000р, кешбек 3% на все, бесплатное обслуживание
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="knoparik" >
                            <p class="lead">
                                Бонус 2000р</p>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/tink.jpg" alt="4" />
                <div class="caption">
                    <h1 class="group inner grid-group-item-heading"><b>Дебетовая карта Тинькофф</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 3500р, 3 категории с кешбеком, подписка платинум
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="knoparik" >
                            <p class="lead">
                                Бонус 3500р</p>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/kartaSpb.png" alt="5" />
                <div class="caption">
                    <h1 class="group inner grid-group-item-heading"><b>Дебетовая карта СПБ</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 3000р, скидка на проезд в метро, кешбек на все 6%
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="knoparik" >
                            <p class="lead">
                                Бонус 3000р </p>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group grid-group-image" src="/img/tinDrive.png" alt="6" />
                <div class="caption">
                    <h1 class="group inner grid-group-item-heading"><b>Дебетовая карта Тинькофф Drive</b></h1>
                    <p class="group inner grid-group-item-text">
                        Плюшки: Бонус 1500р, кешбек 10% на бензин, кешбек 5% на автотовары
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                           <button class="knoparik" >
                            <p class="lead">
                                Бонус 1500р</p>
                           </button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-secondary" href="#">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>
<div id="copyright" align="center">Copyright © 2023. All rights reserved. Made by Alexander Ananiev</div>
</body>
</html>